<main class="contenedor contenedor-formularios no-padding">
    <h1><%- nombrePagina %></h1>

    <form class="default-form" action="/cambiar-password" method="POST">
        <div class="campo">
            <label>Password Anterior</label>
            <input type="password" name="anterior" placeholder="Password Actual">
        </div>
        <div class="campo">
            <label>Nuevo Password</label>
            <input type="password" name="nuevo" placeholder="Nuevo Password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar Password">
        </div>
    </form>
</main>
