<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>
    <form method="POST" class="default-form">
        <legend>¿Eliminar Grupo? Un grupo eliminado no se puede recuperar</legend>
        <div class="campo enviar">
            <input type="submit" value="Eliminar Grupo" class="btn btn-rosa">
        </div>
    </form>
</main>