<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>

    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu Email">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Tu Password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar Sesión">
        </div>
    </form>
</main>